<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "D:\Intern\2023Summer_BaoXin\Springboot1\springboot_mybatis_demo\src\main\java\com\example\mapper\UserXmlMapper.java">
    <select id="findAll" resultType = "user">
        select * from t_user
    </select>
</mapper>
